# Ignore node modules
node_modules

# https://www.make.md/
.makemd

# Eexclude Obsidian's workspace cache
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Exclude MacOS settings and caches
.trash/
.DS_Store
